body {
  background-color: skyblue;
  font-family:serif;
}

h1 {
  font-family: cursive;
  color: coral;
  text-align: center;
}

h2 {
  color: purple;
  font-family: sans-serif;
}

p {
  font-size: 20px;
}

ul {
  font-size: 20px;
  line-height: 20px;
}
